---
layout: default
title: Latest
image: /images/rish.jpeg
pagination:
  enabled: true
  title: "Articles Page :num"
---

{% assign posts_count = paginator.posts | size %}
<div class="home">
  {% if posts_count > 0 %}
  <div class="posts" id="all-posts-container">
    {% for post in paginator.posts %}
    <div class="post py3">
      <p class="post-meta">
        {% if site.date_format %} {{ post.date | date: site.date_format }} {%
        else %} {{ post.date | date: "%b %-d, %Y" }} {% endif %}
      </p>
      <a href="{{ post.url | relative_url }}" class="post-link">
        <h3 class="h1 post-title">{{ post.title }}</h3>
      </a>
      <!-- <span class="post-summary">
        {% if post.summary %} {{ post.summary }} {% else %} {{ post.excerpt }}
        {% endif %}
      </span> -->

      <article class="post-content">
        {{ post.content }}
      </article>
    </div>
    {% endfor %}
  </div>

  <div id="scroll-loader">
    <div class="loading-dots">
      <div class="loading-dots--dot"></div>
      <div class="loading-dots--dot"></div>
      <div class="loading-dots--dot"></div>
    </div>
  </div>

  <!-- {% include pagination.html %}  -->
  {% else %}
  <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
<script defer src="js/scroll.js"></script>
