.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 3em;
  border-bottom: 2px solid #e1e1e1;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: 0.375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: 0.75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: 0.25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.share-page {
  margin-top: 2.5rem;
  .share-links {
    display: flex;
    margin-top: 1rem;
    .fa {
      color: unset;
      font-size: 1.5rem;
      border: 1px solid;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      margin-right: 1rem;
    }
  }
}
.share-page-sm {
  margin-top: 0;
  .share-links-sm {
    .fa {
      color: unset;
      font-size: 1rem;
      border: 1px solid;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      margin-right: 1rem;
    }
  }
}

.related-post-section {
  .related-post-title {
    font-size: 1.8rem;
  }
  .post-title {
    font-size: 1.2rem;
  }
  .post-summary {
    font-size: 1rem;
  }
}

.hyvor-comments {
  margin-top: 100px;
}

#about-image {
  width: 50%;
  margin: 10px 0;
}
